
@{
    ViewBag.Title = "Elements";
}

<h2>Elements</h2>
<br />
<a href="Element/ShowList">Look at and modify a list of some elements</a>
<br />
<a href="Element/ShowTable">Look at and modify a table of some elements</a>

