@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>THE ELEMENTS</h1>
    <p class="lead">The Elements that make up our world.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Make your own Elements!</h2>
        <p>
            ...or at least, pretend to.
        </p>
        <p><a class="btn btn-default" href="element">Do it!</a></p>
    </div>
</div>